attrs==20.3.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
idna==2.10
importlib-metadata==4.0.1
iniconfig==1.1.1
jeepney==0.6.0
keyring==23.0.1
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
prettytable==2.1.0
prompt-toolkit==1.0.14
py==1.10.0
pycparser==2.20
Pygments==2.8.1
PyInquirer==1.0.3
pyparsing==2.4.7
pytest==6.2.3
python-dotenv==0.17.0
python-script-manager==1.1.7
readme-renderer==29.0
regex==2021.4.4
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
snakenv==1.1.5
termcolor==1.1.0
termcolor2==0.0.3
toml==0.10.2
tqdm==4.60.0
twine==3.4.1
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.4.1